In [1]:
import pandas as pd

In [2]:
biker_df = pd.read_csv('../data/WSDOT__Bicycle_and_Pedestrian_Manual_Counts__All_Records.csv')

In [4]:
biker_df.head()

,X,Y,OBJECTID,LocationID,LocationDesc,LocationNote,CountNote,CityName,CountyName,CountYear,...,Other_E,Other_W,Other_Total,Latitude,Longitude,Deprecated,StartYear,CityFIPSLongPlaceCode,CountyFIPSLongPlaceCode,TimeSlot
0,-122.356590,47.615850,9738,Seattle35,Elliott Bay Trail @ Myrtle Edwards Park (north...,NaN,NaN,Seattle,King County,2011,...,NaN,NaN,11,47.615850,-122.356590,No,2011.0,5363000,53033,NaN
1,-122.357599,47.571252,9797,Seattle5,Duwamish Trail & Lower W Seattle Bridge,NaN,NaN,Seattle,King County,2009,...,NaN,NaN,0,47.571252,-122.357599,No,2009.0,5363000,53033,NaN
2,-122.357599,47.571252,9798,Seattle5,Duwamish Trail & Lower W Seattle Bridge,NaN,NaN,Seattle,King County,2010,...,NaN,NaN,0,47.571252,-122.357599,No,2009.0,5363000,53033,NaN
3,-122.357599,47.571252,9800,Seattle5,Duwamish Trail & Lower W Seattle Bridge,NaN,NaN,Seattle,King County,2011,...,NaN,NaN,0,47.571252,-122.357599,No,2009.0,5363000,53033,NaN
4,-122.357599,47.571252,9801,Seattle5,Duwamish Trail & Lower W Seattle Bridge,NaN,NaN,Seattle,King County,2012,...,NaN,NaN,0,47.571252,-122.357599,No,2009.0,5363000,53033,NaN

In [5]:
biker_df.describe()

,X,Y,OBJECTID,LocationNote,CountYear,WeatherCode,Bike_M_N_NH,Bike_M_N_H,Bike_F_N_NH,Bike_F_N_H,...,Other_N,Other_S,Other_E,Other_W,Other_Total,Latitude,Longitude,StartYear,CityFIPSLongPlaceCode,CountyFIPSLongPlaceCode
count,18.000000,18.000000,18.000000,0.0,18.000000,8.000000,10.000000,10.000000,10.000000,10.000000,...,11.0,11.0,11.000000,11.000000,18.000000,18.000000,18.000000,16.000,18.0,18.0
mean,-122.357543,47.573730,10555.555556,NaN,2013.833333,1.125000,0.100000,3.700000,0.100000,0.500000,...,0.0,0.0,0.181818,0.818182,1.222222,47.573730,-122.357543,2009.125,5363000.0,53033.0
std,0.000238,0.010512,957.375224,NaN,2.595245,0.353553,0.316228,8.743887,0.316228,0.849837,...,0.0,0.0,0.404520,2.400757,3.078494,0.010512,0.000238,0.500,0.0,0.0
min,-122.357599,47.571252,9738.000000,NaN,2009.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,47.571252,-122.357599,2009.000,5363000.0,53033.0
25%,-122.357599,47.571252,9801.250000,NaN,2012.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,47.571252,-122.357599,2009.000,5363000.0,53033.0
50%,-122.357599,47.571252,9805.500000,NaN,2014.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,47.571252,-122.357599,2009.000,5363000.0,53033.0
75%,-122.357599,47.571252,11197.750000,NaN,2016.000000,1.000000,0.000000,1.750000,0.000000,0.750000,...,0.0,0.0,0.000000,0.000000,0.750000,47.571252,-122.357599,2009.000,5363000.0,53033.0
max,-122.356590,47.615850,12050.000000,NaN,2017.000000,2.000000,1.000000,28.000000,1.000000,2.000000,...,0.0,0.0,1.000000,8.000000,11.000000,47.615850,-122.356590,2011.000,5363000.0,53033.0

In [6]:
len(biker_df)

18

In [11]:
biker_df.loc[:,'Bike_M_N_NH':'Bike_Total']

,Bike_M_N_NH,Bike_M_N_H,Bike_F_N_NH,Bike_F_N_H,Bike_M_S_NH,Bike_M_S_H,Bike_F_S_NH,Bike_F_S_H,Bike_M_E_NH,Bike_M_E_H,...,Bike_M_S,Bike_F_S,Bike_South,Bike_M_E,Bike_F_E,Bike_East,Bike_M_W,Bike_F_W,Bike_West,Bike_Total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,384
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277
6,0.0,0.0,0.0,0.0,2.0,17.0,0.0,3.0,3.0,153.0,...,2.0,0.0,22.0,3.0,0.0,191.0,1.0,0.0,20.0,233
7,0.0,0.0,0.0,0.0,2.0,76.0,0.0,12.0,2.0,17.0,...,2.0,0.0,90.0,2.0,0.0,24.0,1.0,0.0,42.0,156
8,NaN,NaN,NaN,NaN,NaN,10.0,NaN,3.0,10.0,188.0,...,NaN,NaN,13.0,10.0,1.0,238.0,1.0,NaN,16.0,267
9,NaN,NaN,NaN,NaN,0.0,8.0,0.0,4.0,4.0,33.0,...,0.0,0.0,12.0,4.0,0.0,41.0,11.0,2.0,262.0,315
10,0.0,0.0,0.0,0.0,1.0,8.0,0.0,2.0,3.0,230.0,...,1.0,0.0,11.0,3.0,0.0,290.0,2.0,0.0,15.0,316
11,1.0,28.0,1.0,1.0,1.0,18.0,0.0,2.0,6.0,15.0,...,1.0,0.0,21.0,6.0,2.0,32.0,5.0,0.0,251.0,335
12,0.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,13.0,...,NaN,NaN,8.0,NaN,NaN,17.0,NaN,NaN,95.0,120
13,0.0,0.0,0.0,0.0,3.0,8.0,1.0,0.0,3.0,6.0,...,NaN,NaN,12.0,NaN,NaN,14.0,NaN,NaN,178.0,204
14,0.0,1.0,0.0,0.0,2.0,8.0,1.0,0.0,3.0,107.0,...,NaN,NaN,11.0,NaN,NaN,132.0,NaN,NaN,8.0,152
15,0.0,2.0,0.0,2.0,1.0,8.0,0.0,0.0,5.0,125.0,...,NaN,NaN,9.0,NaN,NaN,170.0,NaN,NaN,2.0,185
16,0.0,6.0,0.0,2.0,1.0,15.0,1.0,4.0,6.0,197.0,...,1.0,1.0,21.0,6.0,0.0,266.0,0.0,0.0,16.0,311
17,0.0,0.0,0.0,0.0,0.0,16.0,0.0,6.0,2.0,26.0,...,0.0,0.0,22.0,2.0,0.0,30.0,10.0,2.0,236.0,288

In [13]:
biker_df['StartYear']

0     2011.0
1     2009.0
2     2009.0
3     2009.0
4     2009.0
5     2009.0
6     2009.0
7     2009.0
8     2009.0
9     2009.0
10       NaN
11       NaN
12    2009.0
13    2009.0
14    2009.0
15    2009.0
16    2009.0
17    2009.0
Name: StartYear, dtype: float64